*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}

 .wrapper{
    background-image: url(./images/gradient-bg.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: grid;
    place-items: center;
 }

 .game-info{
    color: white;
    /* margin-top: 10px;
    margin-bottom: 20px; */
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translatex(-50%);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
    text-align: center;

 }

 .tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding:2rem ;
    grid-template-columns:repeat(3,1fr);
    aspect-ratio: 1/1;
    /* cursor: pointer; */

 }

 .box{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    font-size: 3rem;
    position: relative;
    aspect-ratio: 1/1;
 }

 .box1,.box2, .box4 , .box5 {
    border-right: 2px solid white;
    border-bottom: 2px solid white;  
 }

 .box3, .box6{
    border-bottom: 2px solid white;
 }

 .box7,.box8{
    border-right: 2px solid white;
 }

 .btn{
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    position: absolute;
    color: white;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: none;
 }

 .btn.active{
    display: flex;
 }
 .win{
    background-color:rgba(0, 255, 0, 0.3) ;

 }